<div class="container-fluid main-container">
    <div class="row">
        <div id="hero-image-col" class="col-12">
            <img id="hero-image" src="images/Hero.jpg" />
            <div id="image-text">
                <h1 id="image-title">McKay & Greg</h1>
                <h3 id="image-date">September 21, 2019</h3>
                <h3 id="image-location">Lincoln, NE</h3>
            </div>
        </div>
    </div>

    <div class="row details-row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="reception-details" class="details-container">
                <h2>Wedding Reception</h2>
                <h5>5 PM | September 21, 2019</h5>
                <h6>Capital View Winery</h6>
                <p><a target="_blank" href="https://goo.gl/maps/KPN95RXtjDjqaGK59">2361 Wittstruck Rd | Roca, NE | 68430</a></p>
                <p class="details-paragraph">The reception will be held at <a target="_blank" href="https://capitolviewwinery.com/">Capital View Winery</a>. Join us for food, wine, and yard games to celebrate our marriage.</p>
                <p>Please RSVP</p>
                <a href="/RSVP" id="rsvp-button" class="btn btn-primary">RSVP</a>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div id="registry-row" class="row details-row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="details-container">
                <h2>Registry</h2>
                <p class="details-paragraph">The presence of your company is the only gift we could ever ask for. We will not be registering as we have everything we need to start the next chapter of our lives together.</p>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
