@{
    ViewData["Title"] = "McKay & Greg";
}

<div class="container-fluid main-container">
    <div class="row">
        <div id="hero-image-col" class="col-12">
            <img id="hero-image" src="images/Hero.jpg" />
            <div id="image-text">
                <h1 id="image-title" class="image-text">McKay & Greg</h1>
                <h3 id="image-date" class="image-text">September 21, 2019</h3>
                <h3 id="image-location" class="image-text">Lincoln, NE</h3>
            </div>
        </div>
    </div>

    <div id="details-row" class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="details">
                <h2>Wedding Reception</h2>
                <h5>5 PM | September 21, 2019</h5>
                <p><a target="_blank" href="https://goo.gl/maps/KPN95RXtjDjqaGK59">Capital View Winery | 2361 Wittstruck Rd | Roca, NE | 68430</a></p>
                <p>The reception will be held at Capital View Winery. Join us for food, wine, and yard games to celebrate our marriage.</p>
                <p>Please RSVP</p>
                <a href="#" class="btn btn-primary">RSVP</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
