<div id="elm"></div>

<environment include="Development">
    <script src="~/elm/index.elm.js" asp-append-version="true"></script>
</environment>

<script>
    var app = Elm.Main.init({
        node: document.getElementById('elm'),
    });
</script>

