<div class="text-center">
    <environment include="Development">
        <script src="~/elm/rsvp.elm.js" asp-append-version="true"></script>
    </environment>
    <div id="elm"></div>
    <script>
        var app = Elm.Main.init({
            node: document.getElementById('elm'),
        });
    </script>
</div>
