@{
    ViewData["Title"] = "McKay & Greg";
}

<div class="container-fluid main-container">
    <div class="row">
        <div id="hero-image-col" class="col-12">
            <img id="hero-image" src="images/Hero.jpg" />
            <div id="image-text">
                <h1 id="image-title" class="image-text">McKay & Greg</h1>
                <h3 id="image-date" class="image-text">September 21, 2019</h3>
                <h3>Lincoln, NE</h3>
            </div>
        </div>
    </div>
</div>
